.repo-button {
    background: rgb(22, 20, 20);
    color: rgb(233, 232, 234);
    width: calc(100% - 10px);
    height: fit-content;
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;
    display: block;
}

.repo-red-line {
    width: 5px;
    height: 100%;
    float: left;
    background: rgb(242,50,105);
    position: absolute;
    margin-right: 5px;
}

.repo-text-container {
    margin-left: 10px;
}

.repo-name {
    display: block;
    padding-top: 5px;
    font-size: 32px;
}

.repo-desc {
    display: block;
    font-size: 18px;
    margin-top: 10px;
}

.repo-last-commit {
    display: block;
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 1px;
    bottom: 5px;
}