@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis.ttf');
}

body {
    font-family: 'Dosis';
    font-size: 24px;
    color: rgb(224, 224, 224);
}

a {
    color: rgb(224, 224, 224);
}

.background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0), rgb(23, 25, 34));
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes scroll-text-appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

.scroll-text {
    z-index: 1;
    position: fixed;
    bottom: 15px;
    left: calc(50vw - 4.5ch);
    color: rgb(224, 224, 224, 0.5);
    opacity: 0;
    animation: scroll-text-appear 1.5s ease-out 2.5s forwards;
    font-size: 0.8em;
    transition-duration: 0.2s;
}

.scroll-text:hover {
    font-size: 0.9em;
}

.main-content-area {
    z-index: 0;
    position: absolute;
    display: grid;
    padding-bottom: 50px;
    row-gap: 250px;
    top: calc(100vh + 250px);
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.content-box {
    width: 100%;
    background: rgb(31, 31, 31, 0.5);
}

.content-box .content-box-line {
    width: 100%;
    height: 5px;
    background: rgb(100, 219, 255);
}

.content-box .content-box-header {
    width: 100%;
    text-align: center;
}

.content-box .content-box-content-area {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.repo-btn-area {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
}

.repo-btn {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background: rgb(31, 31, 31, 0.5);
    transition-duration: 0.2s;
}

.repo-btn:hover {
    transform: scale(102.5%);
}

.repo-btn .repo-btn-line {
    width: 100%;
    height: 5px;
    background: rgb(100, 219, 255);
}

.repo-btn .repo-btn-name {
    padding-left: 5px;
    width: calc(100% - 5px);
    font-size: 1.25em;
    font-weight: bold;
}

.repo-btn .repo-btn-description {
    padding-left: 5px;
    width: calc(100% - 5px);
}

.repo-btn .repo-btn-last-commit {
    padding-left: 5px;
    width: calc(100% - 5px);
    font-style: italic;
    margin-top: auto;
}

@media screen and (max-width: 1024px) {
    .main-content-area {
        width: 95%;
    }
}