@keyframes anim-r {
    from {stroke-dashoffset: 2070.7529296875;}
    to {stroke-dashoffset: 0;}
}

#reimnop-r {
    stroke-dasharray: 2070.7529296875;
    animation: anim-r 2.5s ease-in-out forwards;
}

@keyframes anim-e {
    from {stroke-dashoffset: 1823.5;}
    to {stroke-dashoffset: 0;}
}

#reimnop-e {
    stroke-dasharray: 1823.5;
    animation: anim-e 2.5s ease-in-out forwards;
}

@keyframes anim-i {
    from {stroke-dashoffset: 633.0999755859375;}
    to {stroke-dashoffset: 0;}
}

#reimnop-i {
    stroke-dasharray: 633.0999755859375;
    animation: anim-i 2.5s ease-in-out forwards;
}

@keyframes anim-m {
    from {stroke-dashoffset: 2510.9453125;}
    to {stroke-dashoffset: 0;}
}

#reimnop-m {
    stroke-dasharray: 2510.9453125;
    animation: anim-m 2.5s ease-in-out forwards;
}

@keyframes anim-n {
    from {stroke-dashoffset: 2009.2989501953125;}
    to {stroke-dashoffset: 0;}
}

#reimnop-n {
    stroke-dasharray: 2009.2989501953125;
    animation: anim-n 2.5s ease-in-out forwards;
}

@keyframes anim-o {
    from {stroke-dashoffset: 1807.332275390625;}
    to {stroke-dashoffset: 0;}
}

#reimnop-o {
    stroke-dasharray: 1807.332275390625;
    animation: anim-o 2.5s ease-in-out forwards;
}

@keyframes anim-p {
    from {stroke-dashoffset: 1566.84033203125;}
    to {stroke-dashoffset: 0;}
}

#reimnop-p {
    stroke-dasharray: 1566.84033203125;
    animation: anim-p 2.5s ease-in-out forwards;
}