@font-face {
    font-family: 'FiraMono';
    src: url('../fonts/FiraMono.ttf');
}

@keyframes blinking-cursor {
    from {border-color: transparent;}
    to {border-color: rgb(0, 255, 0);}
}

body {
    font-family: 'FiraMono';
    font-size: 18px;
    color: rgb(0, 255, 0);
    background:rgb(0, 0, 0);
}

#write-area {
    border-right: .20em solid rgb(0, 255, 0);
    animation: blinking-cursor .5s alternate infinite;
}